<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PayPal node 应用</title>
</head>
<body>
    <h1>欢迎来到米修在线</h1>
    <h2>课程名称：node.js入门到实战</h2>
    <h3>课程价格：58元</h3>

    <form action="/pay" method="POST">
    <input type="submit" value="买它">
    </form>
</body>
</html>